.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  transition: all 0.3s linear;
}
.back {
  transition: all 0.3s linear;
	transform: rotateY(180deg);
}
.flip-container {
  position: relative;
}
.flip-container .hover.front {
  transform: rotateY(180deg);
}
.flip-container .hover.back {
  transform: rotateY(360deg);
}